
*{
margin:0;
padding:0;
}
html,body{
height:100%;
}
nav{
float:left;
margin-left:500px;
margin-top:15px;
}
ul{
position:absolute;
float:left;
display:flex;
align-items:center;
}	
ul li{
list-style:none;
margin-left:62px;
margin-top:27px;
font-size:14px;
}
ul li a{
text-decoration:none;
color:#fff;
font-family:Arial;
font-weight:bold;
transition:0.5s ease-in-out;
}
ul li a:hover{
color:#ff7200;
}
.service{
display:none;
}
.service a{
margin:-30px;
letter-spacing:1px;
font-size:15px;
font-family:cursive;
}
.service a:hover{
color:#cad719;
}
nav li:nth-child(2):hover .service{
display:block;
transition:0.5s ease-in-out;
}
#banner{
background:linear-gradient(rgba(0,0,0,0.5),#140e01),url(img1.png);
background-size:cover;
background-position:center;
height:100vh;
}
.logo{
width:140px;
position:absolute;
top:3%;
left:1%;
}
.banner-text{
color:rgb(232,203,203);
padding-left:100px;
padding-top:400px;
}
.banner-text h1{
font-size:60px;
font-family:cursive;
}
hr{
margin-right:50px;
margin-top:10px;
border:2px solid #ff7200;
}
.wrapper{
height:600px;
background:linear-gradient(rgba(237,233,233,0.993),#fff);
}
section img{
width:400px;
margin-top:30px;
margin-left:40px;
float:left;
margin-right:30px;
}
.text-box{
margin-top:60px;
padding-left:0px;
padding-top:100px;
}
.text-box h3{
color:#ff7200;
text-align:center;
font-family:cursive;
font-size:42px;
}
.text-box p{
font-family:cursive;
color:grey;
margin:20px;
line-height:25px;
letter-spacing:1.1px;
font-size:20px;
}
.footer-content{
width:100%;
height:140px;
padding-top:30px;
margin-top:630px;
background-color:black;
color:#fff;
font-size:13px;
line-height:20px;
}
.footer-content ul li{
display:flex;
font-size:18px;
margin-top:50px;
padding-left:100px;
}
