input[type=submit]{
background-color:rgb(80,75,197);
color:#fff;
width:100px;
text-align:center;
margin-right:10px;
}
.box{
justify-content:right;
display:flex;
}

#container input{
line-height:40px;
border:none;
outline:none;
margin-top:30px;
text-align:center;
font-size:15px;
border-bottom:3px solid white;
background-color:transparent;
margin-left:20px;
color:white;
padding-top:0px;
}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 13px;
  display:inline-block;
}
 
 

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background:none;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background:none; 
  display: block; 
}
ul li ul li a {display:block !important;
} 
ul li ul li:hover {background: #666;}body ,h1,h2,h3,p{
margin:0;
padding:0;
}
header{
color:white;
padding:40px 0;
}
nav{
max-width:700px;
margin:0 auto;
display:flex;
justify-content:space-between;
text-items:center;
margin-right:150px;
}
nav .logo{
font-size:14px;
padding-left:20px;
padding-top:10px;
}
nav ul li{
margin-right:10px;
padding-right:10px;
font-size:10px;
}
nav ul li:last-child{
margin-right:0;
font-weight:10px;
}
nav a{
color:white;
font-size:14px;
font-family:arial;
padding-top:30px;
text-decoration:none;
font-weight:bold;
}
.hero{
background:linear-gradient(rgba(0,0,0,0.5),#140e01),url(img11.png);
background-size:cover;
background-position:center;
text-align:center;
color:white;
padding:300px 0px;
}
.hero h1{
font-size:46px;
padding-left:10px;
margin-bottom:30px;
}
.hero p{
font-size:18px;
padding-left:10px;
font-weight:bold;
margin-bottom:30px;
}
header{
background-color:none;
color:white;
padding:0px;
font-size:12px;
height:0px;
}
.btn{
display:inline-block;
background-color:#ff6600;
color:white;
padding:10px 20px;
border-radius:5px;
margin-left:10px;
text-decoration:none;
font-weight:bold;
transition:background-color 0.3s;
}
.btn:hover{
background-color:#e05500;
}
footer{
text-align:center;
padding:20px 0px;
background-color:#333;
color:white;
}
nav ul{
list-style:none;
display:flex;

}
img{
height:300px;
width:450px;
}


h1{
color:white;
font-weight:bold;
padding-left:310px;
}
form{
margin-top:20px;
}
input{
padding:10px;
font-size:16px;
}
button{
font-size:15px;
background-color:grey;
color:white;
border:none;
cursor:pointer;
transition:background-color 0.3 ease;
border-radius:5px;
font-weight:bold;
width:80px;
text-align:center;
margin-top:0px;
}
button:hover{
background-color:#e05500;
}
